@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  margin: 0;
  background-color: black;
  color: white;
  /* background: radial-gradient(circle at 10% 50%, rgb(28, 44, 33) 0%, rgb(0, 0, 0) 70%);
  animation: gradient-animation 10s ease infinite; */
}

/* background-color: #4d4855; */
/* background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */


.green-glow {
  /* box-shadow: 0 0 25px 15px rgba(0, 255, 0, 0.7); */
  box-shadow: 0 0 256px 140px rgb(117 255 117 / 25%);

}

/* Floating animation */
@keyframes float {

  0%,
  100% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-40px);
  }
}

/* Applying the animation */
.float {
  animation: float 6s ease-in-out infinite;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #84ff5f, #000000, #6afb78, #000000);
  background-size: 400% 40%;
  animation: gradient-animation 100s ease infinite;
}

.logoG {
  background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 20%, rgb(0, 255, 17) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.logoFont {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hide-scrollbar::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
    
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}